# Forzar a que TODO el contenido de la carpeta build sea detectable
build/** linguist-vendored=false
build/** linguist-detectable=true

# Asignar lenguajes de forma global
*.v linguist-language=Verilog
*.sv linguist-language=SystemVerilog

# Ignorar archivos de configuración y Makefiles
Makefile linguist-documentation=true
*.cst linguist-documentation=true
